<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Calculator v1</h1>

    <form action="/" method="post">
        <p>Input your calculation below \/</p>
        <input name="input" required>
        <button type="submit" style="display: block;">Calculate!</button>
    </form>

    <p>This calculator supports any calculations that can be done in vanilla JavaScript, but we took the time to write our own nth root function.
        <br>When you want to take the nth root of a number, just type "^/(number, n)". We poured a lot of time and effort into this function, so please try it out!</p>
</body>
</html>